$gray-1: #111;
$gray-2: #222;
$gray-3: #333;
$gray-4: #444;
$gray-5: #555;
$gray-6: #666;
$gray-7: #777;
$gray-8: #888;
$gray-9: #999;
$gray-10: #aaa;
$gray-11: #bbb;
$gray-12: #ccc;
$gray-13: #ddd;
$gray-14: #eee;
$gray-15: #fff;
$red-1: #b22121;
$red-2: #cc2626;
$red-3: #ff3030;
$red-4: #ff3d30;
$red-5: #ff4b30;
$orange-1: #995f2c;
$orange-2: #b36f33;
$orange-3: #e68f42;
$orange-4: #ffaa49;
$orange-5: #ffb649;
$yellow-1: #9b8a0e;
$yellow-2: #b4a110;
$yellow-3: #e8cf15;
$yellow-4: #fbff17;
$yellow-5: #fff217;
$green-1: #2e840e;
$green-2: #3aa513;
$green-3: #49d117;
$green-4: #56f71b;
$green-5: #6cff37;
$aqua-1: #0e8480;
$aqua-2: #119e99;
$aqua-3: #17d1cb;
$aqua-4: #1bf7f0;
$aqua-5: #1cfff7;
$blue-1: #0e3384;
$blue-2: #113d9e;
$blue-3: #1752d1;
$blue-4: #1b61f7;
$blue-5: #1c64ff;
$purple-1: #490e84;
$purple-2: #57119e;
$purple-3: #7417d1;
$purple-4: #891bf7;
$purple-5: #ab1bff;
$pink-1: #840e70;
$pink-2: #9e1186;
$pink-3: #d117b2;
$pink-4: #f71bd2;
$pink-5: #ff1cd9;