// GitHub grayscale
$github-black: #010409;
$github-light-black: #0d1117;
$github-dark-blue-gray: #161b22;
$github-blue-gray: #30363d;
$github-light-blue-gray: #848d97;
$github-ice-blue: #bfd1d9;
$github-white: #d1fafa;

// rainbow
$rainbow-yellow: #e6c229;
$rainbow-orange: #f17105;
$rainbow-red: #d11149;
$rainbow-indigo: #6610f2;
$rainbow-blue: #1a8fe3;
$rainbow-green: #0ba511;